.rmdb-loadmorebtn {
  background: #1c1c1c;
  width: 25%;
  margin:0 50%;
  position:relative;
  left:-140px;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 18px;
}

.rmdb-loadmorebtn p {
  font-family: helvetica;
  font-size:30px;
  padding: 20px;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
}