.topnav {
  background-color:#353535;
  overflow: hidden;
  top:0;
  width: 100%;
}

.top-format{
  color: white;
  text-decoration: none;
  font-family: helvetica;
}

/* Style the links inside the navigation bar */
.topnav span {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
color: white;
padding-left: 20px;
}

/* Change the color of links on hover */
.topnav span:hover {
background-color: #432F75;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
padding-right: 16px;
}